body {
  background-color: #6a6a6a;
  margin: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  /* display: inline-flex; */
  padding: 10px;
  margin: 0 auto;
}

nav ul li {
  padding: 0 30px 0 0;
  color: #bee097;
}

nav span {
  float: right;
  margin: 10px 20px;
}

nav span a {
  background: tomato;
  padding: 5px 20px;
  border-radius: 10px;
  color: cornsilk;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

#main-heading {
  font-family: cursive;
  font-size: 150px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#main-heading p {
  margin: 0;
  color: cadetblue;
}

#main-heading h6 {
  margin: auto 0;
  font-size: 30px;
}

#first-name {
  display: inline;

  backdrop-filter: none;
  opacity: 0.6;
}

#last-name {
  display: inline;
  text-align: center;
}

#profession {
  color: rgba(41, 41, 41, 255);
  font-size: 25px;
  display: block;
}

.main {
  clear: both;
  width: 100%;
}

#name {
  color: #cfd1d2;
  margin: 0;
}

.box {
  opacity: 0.6;
  position: absolute;
  width: 18%;
  background-color: #878686;
  color: aliceblue;
  padding: 3%;
  border-radius: 25%;
}

#box1 {
  right: 20px;
}

#box2 {
  left: 20px;
}

#box3 {
  top: 250px;
  left: 20px;
}

#box4 {
  top: 250px;
  right: 20px;
}

#box5 {
  top: 440px;
  right: 20px;
}

.box h3 {
  color: #bee097;
}

.inner-heading {
  color: greenyellow;
}

footer {
  position: relative;
}

#footer-packing {
  padding: 0 0 0 20px;
  position: absolute;
  bottom: 0;
  top: 650px;
}

footer {
  color: white;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer span {
  padding: 0 5px;
}

@media screen and (max-width: 540px) {
  nav ul {
    display: none;
  }

  #main-heading {
    font-family: cursive;
    font-size: 80px;
    text-align: center;
    position: relative;
  }

  #name {
    margin-block-start: -15px;
    margin-block-end: 0;
  }

  #first-name {
    font-size: 50px;
  }

  #last-name {
    font-size: 60px;
  }

  .box {
    width: 35%;
    opacity: 0.6;
    position: absolute;
    background-color: #878686;
    color: aliceblue;
    padding: 3%;
    border-radius: 10%;
    display: table;
  }

  .inner-heading {
    font-size: 20px;
  }
  #box1,
  #box2,
  #box3,
  #box4,
  #box5 {
    display: table-cell;
  }

  #box3,
  #box4 {
    top: 275px;
  }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  #box3 {
    top: 300px;
  }

  #box4 {
    top: 265px;
  }

  #box5 {
    top: 460px;
  }
}

/***********************************portfolio0.1************************/

#version-2 {
  width: 70%;
  background-color: white;
  margin: auto;
}
#version-2 > div {
  background-color: #6a6a6a;
}

#version-2 nav {
  text-align: unset;
  font-size: 36px;
  font-family: cursive;
}

#version-2 nav div {
  text-align: center;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}
#version-2 nav div ul {
  background-color: cadetblue;
  width: auto;
}

#version-2 nav div ul li {
  margin: 0 40px;
  display: unset;
}

#version-2 nav span {
  float: right;
  margin: 30px 0px;
}

#version-2 nav ul {
  list-style: none;
  padding: 10px;
}

/* #version-2 nav ul li:first-child {
  margin: -15px 0px 0px -15px;
}

#version-2 nav ul li:first-child a {
  color: cadetblue;
  font-size: 36px;
} */

#version-2 nav ul li a {
  color: #bee097;
  text-decoration: none;
}

#versdion-2 #main-heading {
  font-family: cursive;
  font-size: 150px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#version-2 #main-heading p {
  margin: 0;
  text-align: right;
  color: cadetblue;
}

#versin-2 #main-heading h6 {
  margin: auto 0;
  font-size: 30px;
}
#version-2 #details {
  margin: 2em;
  text-align: center;
}

#image {
  float: left;
}

#version-2 #name {
  float: right;
}
aside {
  z-index: 10;
  position: relative;
  width: 30%;
  float: left;
}

aside ul li {
  list-style-type: none;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

aside ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #bee097;
}

article {
  width: 60%;
  padding-top: 20px;
  margin-left: 34%;
}

article div {
  padding: 0;
  margin: 0;
}

h5 {
  margin-bottom: 3px;
  margin-top: 5px;
}
h3 {
  color: whitesmoke;
  margin-bottom: 3px;
  margin-top: 5px;
}
article div h3,
article div ul {
  margin-top: 5px;
}

.show {
  display: block;

  margin-bottom: 30px;
  margin-left: 10px;
}

.no-show {
  display: none;
}

#version-2 #footer-packing {
  z-index: 1;
  clear: both;
  padding: 0 0 0 20px;
  position: relative;
  bottom: 0;
  top: 0px;
}
